*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}
/* header */
header{
    background-color: #236b97;
    color: white;
    margin-left: 50px;
    margin-right:50px ;
    align-items:center ;
    padding: 1x;
    border-style: solid;
    border-radius: 25rem;
    max-width:90%;
}
.logo-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo-container h1 a{
    font-size: 1.2rem;
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
    
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-decoration: none; 
    
}
ul{
    gap:20px
}
button,ul,li a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    list-style: none;
    text-decoration: none; 
    color: whitesmoke;
    cursor: pointer;
}
button{
    background-color: #528f85;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: solid;
    border-radius: 20px;
    border-color: rgb(32, 13, 13);/
}
button,li a:hover{
    background-color: #e2eceb;
    color: rgb(54, 19, 19);
    cursor: pointer;
    border-radius: solid;
    border-radius: 20px;
    border-color: rgb(32, 13, 13);
}
/* end of header */
    /* media query */
  @media (max-width: 996px)
  {
    header ul,li{
        display: none;
    }
  }
 /* container */
 .section-1{
    display: flex;
    z-index: 2;
    background-color: var(--brand--neutrals--off-white-background);
    flex-flow: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 8rem;
    padding-bottom: 4rem;
    display: flex;  
    position: relative;
}
.con-1{
    animation-name: main;    
    animation-duration:5s;  
    animation-delay: 1ms;
}
.con-1 .sub-con{
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    /* justify-items: center    ; */
}
 .section-1 .sub-con .sub-heading{
    /* display: flex; */
    max-width:60%;
    flex-direction: column;
    justify-content: center;
   
}
section .img{
    float:right;
    max-width: fit-content;
    margin-right: auto;
    margin-left: auto;
    height: 25%;
    width: 50%;
}
.sub-con .sub-heading{
    font-size: 25px;
    max-width: 50%;
    padding: 90px;
}
@keyframes main{
    0%{
        opacity: 0;
        transform: translateY(50%);
    }
    /* 50%{
        opacity: 1;
        transform: translateY(-50%);
    } */
    100%{
        opacity: 1;
        transform: translateY(0);
    }
} 
/* main-con-sub*/
.main-con-sub  .sub-1 .bk{
    /* position: relative;     */
    max-width: auto;
    /* width: 100%; */
    background-image: url(/images/superJumbo.jpg);
}
.main-con-sub .sub1 {
    position:absolute;
    display: flex;
    flex-direction: column;
}
/* About-page */
/* hero */
.hero {
    text-align: center;
    padding: 50px;
    background-color: white;
}
.hero h2 {
    font-size: 2em;
}
.hero p {
    max-width: 600px;
    margin: 10px auto;
}
.link {
    color: blue;
    text-decoration: none;
}
.content {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
    padding: 50px;
}
.main-image {
    flex: 2;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.main-image img {
    max-width: 100%;
}
.text-box {
    margin-top: 20px;
}
.info-boxes {
    
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.box img{
    width: 100%;
    height:100%;
}
.dark {
    background-color: black;
    color: white;
}
